thead
{
	background-color: grey;
}

table, th, td
{
	border: 2px solid black;
}

.ascending
{
	background: no-repeat right url('icon-asc.png');
}

.descending
{
	background: no-repeat right url('icon-asc.png');
}

.odd
{
	background-color: lightgrey;
}
