body
{
	font-family:"Segoe UI";
	color:#423f37;
}

.artikel
{
	width:	1024px;
	margin:	0 auto;
}

img
{
	max-width: 100%;
}

.multiple
{
	float:left;
	width:288px;
	margin:16px;
	padding:16px;
	box-sizing:border-box;
	background-color:#EEEEEE;
}

.multiple:nth-child(3n+1)
{
	margin-left:0px;
}

.multiple:nth-child(3n)
{
	margin-right:0px;
}

.single img
{
	float:right;
	margin-left: 16px;
}

form
{
	position: absolute;
}